<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <title>Login</title>
</head>
<body>
<h3>Home</h3>
<form action="/users" method="post" modelAttribute="login">
    <fieldset>
        <legend>Login</legend>
        <table>
            <tr>
                <td><label th:name="account">Account:</label></td>
                <td><input th:name="account"></td>
            </tr>
            <tr>
                <td><label th:name="password">Password:</label></td>
                <td><input th:name="password"/></td>
            </tr>
            <tr>
                <td></td>
                <td><button>Login</button></td>
            </tr>
        </table>
    </fieldset>
</form>
</body>
</html>