<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Welcome</h1>
<!--<form th:object="user" method="post">-->
Account:  <h2 th:text="${user.account}"></h2>
Name: <h2 th:text="${user.name}"></h2>
Email: <h2 th:text="${user.email}"></h2>
Age: <h2 th:text="${user.age}"></h2>
<!--</form>-->
<!--<h3>Account: <input th:field="*{}"></h3>-->
<!--<h3>Name: ${user.name}</h3>-->
<!--<h3>Email: ${user.email}</h3>-->
<!--<h3>Age: ${user.age}</h3>-->
</body>
</html>